:root {
    --yellow: #FFB300;
    --red: #8E001C;
    --marble: #f9f6eef5;
}

html {
    font-family:  'Trajan Pro', sans-serif, 'Times New Roman', Times, serif ;
}

body {
    max-width: 600px;
    margin: 20vh auto;
    overflow: hidden;
    background-color: var(--red);
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: var(--yellow)
}

.container, .output-container {
    padding: 2rem;
    background-color: var(--yellow);
    margin: 20px auto;
    max-width: 80%;
    border-style: solid;
    border-width: 5px;
    border-image: linear-gradient(90deg, #d51c1f, #ffcc33, #d51c1f) 1;
}

.output-container {
    max-height: 50px;
    padding-bottom: 5rem;
    padding-top: 0rem;
}

.wrapper {
    display: flex;
    max-width: 80%;
    flex-direction: column;
    margin: auto;
    gap: 1rem;
}

label {
    display: block;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: var(--red);
}

input {
    background-color: var(--red);
    font-size: 2rem;
    color: var(--yellow);
    text-align: center;
}

input:focus {
    outline: none;
}

input, button {
    height: 2.5rem;
    border-radius: 5px;
    border-style: solid;
    border-width: 5px;
    border-image: linear-gradient(90deg, var(--yellow), #d51c1f, var(--yellow)) 1;
}

button {
    font-size: 1.5rem;
    background-color: var(--marble);
    /* border: solid 2px var(--red); */
    color: var(--red)

}

button:hover {
    cursor: pointer;
    background: linear-gradient(rgba(255, 179, 0, 0.5), rgba(142, 0, 28, 0.5));
}

#output {
    color: var(--red);
    font-size: 3rem;
    margin: auto;
    text-align: center;
    height: 2rem;
    padding-bottom: 2rem;
}
